<div >
            
<div id="blanket" style="display:none;"></div>
<div id="popUpDiv" style="display:none;">
<a href="#" onclick="popup('popUpDiv')" ><button class="closeBtn" href="#">X</button></a>
<br/>

 <h3>{{additionalInfo}}</h3>
</div>
<a href="#" onclick="popup('popUpDiv')">
	<button href="#" class="info">Info</button>
	</a>

<div id="q"> 
<h2>{{question}}</h2>
</div>
  

<div id="listAnswers"></div>
</div>

<div id="back"><button class="btn btn-positive" id="prevBtn">Prev</button></div>
<div id="next"><button class="btn btn-positive" id="nextBtn" >Next</button></div>


